{% extends "layout.html" %}

{% block header %}

<meta property="og:url"           content="{{ url_for('posts.post', post_id=post.id) }}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{ post.title }}" />
<meta property="og:description"   content="{{ post.content }}" />
{% if post.image %}
    <meta property="og:image" content="{{ post.image }}" />
{% endif %}

{% endblock header %}




{% block content %}

    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            {% if post.author == current_user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </div>
            {% endif %}
            </div>
            <h2 class="article-title">{{ post.title }}</h2>

            {% if post.image %}
                <img class="img-responsive", src="{{ url_for('static', filename='post_pics/' + post.image) }}">
            {% endif %}
            <p class="article-content">{{ post.content }}</p>

            <!-- Your like button code -->
            
            <div class="fb-like" 
                data-href="{{ url_for('posts.post', post_id=post.id) }}" 
                data-layout="standard" 
                data-action="recommend" 
                data-size="small" 
                data-show-faces="true" 
                data-share="true">
            </div>
        </div>
    </article>
    <div id="disqus_thread"></div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript for comments -->
    <script>
        var disqus_config = function () {
        this.page.url = "{{ url_for('posts.post', post_id=post.id, _external=True) }}";
        this.page.identifier = "{{ post.id }}";
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://http-127-0-0-1-5000.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <script id="dsq-count-scr" src="//http-127-0-0-1-5000.disqus.com/count.js" async></script>
{% endblock content %}

