{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">List of users ({{ users.total }}) </h1>
    {% for user in users.items %}

        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
            <div class="user_info">
                <h4><a class="mr-2" href="{{ url_for('users.user_posts', username=user.username) }}">{{ user.username }}</a></h4>
            </div>
        </article>

    {% endfor %}

    {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if users.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('users.users_list', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('users.users_lists', page=page_num) }}">{{ page_num }}</a>
            {% endif %}  
        {% else %}
            ...
        {% endif %}    
    {% endfor %}
{% endblock content %}